body {
    font-family: 'Alata', sans-serif;
    margin: 0;
    background-color: rgb(250, 250, 250);
    font-weight: 500;
}

a {
    text-decoration: none;
    color: currentColor;
}

header {
    font-size: 2em;
    color: white;
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 119, 255);
    position: sticky;
    top: 0;
    z-index: 4;
    opacity: 0.90;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-items: center;
    /* padding: 2rem;*/
    padding: 1rem 2rem;
    width: 100%;

}

.page-title {
    font-size: 2em;
    margin: 1em;
}

.header-title {
    flex-grow: 1;
    font-size: 2rem;
}

.section-logo {
    background-color: rgb(0 0 0 / 0.1);
    display: flex;
    border-radius: 50%;
    padding: 0.7em;
    margin: 2rem;
}

.section-logo>img {
    filter: invert(0.4);
    width: 2rem;
}

.section-title {
    font-size: 1.5rem;

}

.section {
    margin-top: 2rem;
    color: hsl(0, 0%, 40%);
    display: flex;
    align-items: center;

}

section {
    scroll-margin-top: 10em;
}

.button {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 1.25rem 2.25rem;
    background-color: rgb(255, 145, 0);
    border-radius: 40px;
    transition: 0.3s;
}

.portfolio-selection {
    margin-top: 1rem;
    padding: 1rem;
}

.sticky-selection {
    position: sticky;
    top: 8em;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em 2em;
    z-index: 4;
}

.portfolio-button {
    color: rgb(0 0 0 / 0.8);
    display: inline-block;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255);
    /*background-color: rgba(0, 119, 255, 0.6);*/
    border-radius: 20px;
    text-decoration: none;
    font-size: 24px;
    /*color: white;*/
    padding: 0.25rem 1rem;
    transition: 0.2s;
    z-index: 2;
    position: relative;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}


.portfolio-button:hover {
    /*background-color: rgba(0, 119, 255, 0.8);*/
    background-color: rgb(0 0 0 / 0.1);
}

.portfolio-button>img {
    width: 20px;
    margin-right: 1rem;
    /*filter: invert(1);*/
}


.button:hover {
    background-color: rgb(219, 124, 0);
}

.portfolio-card {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin-bottom: 2rem;
    padding: 2rem;

    width: 70vw;
    background-color: white;
    /*border-color: rgba(0,0,0,0.55);*/
    border-radius: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
}

.card-title {
    color: rgba(0, 0, 0, 0.95);
    width: 50%;
    font-size: 1.5rem;
}


.large-header {
    height: 10em;
}

.index-title {
    text-align: center;
}


.card-title>h3 {
    margin-top: 0;
}

.rounded {
    border-radius: 10px;
    margin-right: 1rem;
    width: calc(50% - 2rem);
}

.border {
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.main {
    margin: 3rem;
}

.card-link {
    position: absolute;
    width: 100%;
    height: 100%;
}


.portfolio-content:hover>.portfolio-card {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;

}

.portfolio-content {
    position: relative;
}


.main>h2 {
    margin: 0.25rem;
    font-size: 2rem;
}